.border {
    border: 2px solid red;
    margin: 3px;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.rounded {
    border-radius: 7px;
}
.p-1 {
    padding: 10px;
}

.m-1 {
    margin: 5px;
}

.invert {
    filter: invert(1);
}